
        <!-- Start footer -->
        <footer class="m-pt-70">
            <div class="container text-center">
                <div class="row">
                    <div class="text-light-dark">
                        <i class="icofont-location-pin mr-2 mt-2 text-light-dark"></i>
                        <div class="media-body">
                            <p class="m-0  fz-poppins">Rua Padre Almeida, 310</p>
                            <p class="m-0  fz-poppins">Cambuí, Campinas - Medicina 310</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center mt-5 m-bg-1 pt-4 pb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mb-1 mt-1">© 2019. Todos os direitos reservados.</p>
                        </div>
                    </div>
                    <a href="http://www.carinebitencourt.com.br" target="blank">
                        <div id="carinebitencourt">Studio de Marketing - Carine Bitencourt</div>
                    </a>
                </div>
            </div>
        </footer>
        <!-- End footer -->
    
        <!-- Start scroll-top  Section -->
        <div class="scroll-top" style="display: none;">
            <i class="icofont-rounded-up"></i>
        </div>
        <!-- End  scroll-top Section -->
    
    
        <!-- js file -->
        <script src="js/jquery-3.3.1.js"></script>
        <!-- plugins js -->
        <script src="/js/plugins.js"></script>
        
        <!--Modal do video css-->
        <script src="js/jquery-modal-video.min.js"></script>
        
        <!-- main js -->
        <script src="js/main.js"></script>
        <!-- Api js -->
        <script src="js/api.js"></script>
        
        <!-- JavaScript -->
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

        <!--Carousel-->
        <script src="js/carousel.js"></script>
        
    
    
    </body>
</html>