<% include partials/header %>

	<section class=" position-relative set-bg breadcrumb-container" style="background-image: url(&quot;assets/images/breadcrumb-img1.jpg&quot;); background-position: center center; background-size: cover; background-repeat: no-repeat;">
        <div class="overlay op-P9"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="breadcrumb-inner align-items-start flex-column justify-content-center   d-flex ">
                        <h3 class="semi-bold text-uppercase text-white">Dúvidas Frequentes</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent mb-0 pl-0 p-0">
                                <li class="breadcrumb-item active"><a href="/">Home</a></li>
                                <li class="breadcrumb-item " aria-current="page"><a href="/blog">Dúvidas Frequentes</a></li>
                            </ol>
                        </nav>
                   </div>
                </div>
            </div>
        </div>
    </section>
    
    

	<div class="m-bg-1 m-pt-130">
        <div id="conteudo-blog" class="container" style="padding-bottom: 80px !important;">
           
        </div>
    </div>

	<div class="scroll-top" style="display: none;">
        <i class="icofont-rounded-up"></i>
    </div>

  <!-- Start footer -->
  <footer class="m-pt-60">
    <div class="container text-center">
        <div class="row">
            <div class="text-light-dark">
                <i class="icofont-location-pin mr-2 mt-2 text-light-dark"></i>
                <div class="media-body">
                    <p class="m-0  fz-poppins">Rua Padre Almeida, 310</p>
                    <p class="m-0  fz-poppins">Cambuí, Campinas - Medicina 310</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center mt-5 m-bg-1 pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-1 mt-1">© 2019. Todos os direitos reservados.</p>
                </div>
            </div>
            <a href="http://www.carinebitencourt.com.br" target="blank">
                <div id="carinebitencourt">Studio de Marketing - Carine Bitencourt</div>
            </a>
        </div>
    </div>
</footer>
<!-- End footer -->

<!-- Start scroll-top  Section -->
<div class="scroll-top" style="display: none;">
    <i class="icofont-rounded-up"></i>
</div>
<!-- End  scroll-top Section -->


<!-- js file -->
<script src="js/jquery-3.3.1.js"></script>
<!-- plugins js -->
<script src="/js/plugins.js"></script>
<!-- main js -->
<script src="js/main.js"></script>
<!-- Api js -->
<script src="js/api.js"></script>


</body>
</html>