<div class="container"> 
    <div>
        {{#each headers}}
        <h1>{{name}}</h1>
        {{/each}}
    </div>

    <div>
        {{#each galleries}}
        <h1>{{name}}</h1>
        {{/each}}
    </div>
    
</div>